<!DOCTYPE html>
<html>
<head>
  <title>Piffizz OAuth Demo</title>
  <link type="text/css" rel="stylesheet" media="screen" href="http://getbootstrap.com/dist/css/bootstrap.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="/">Pixfizz OAuth Demo</a>
    <ul class="nav navbar-nav">
      <li><a href="https://github.com/pixfizz/oauth2_client_example">Project Homepage</a></li>
      <li><a href="http://api.pixfizz.com/v1/docs/oauth/web">OAuth Documentation</a></li>
    </ul>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-buttons.min.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-scrollspy.js"></script>
  <script src="/application.js"></script>
</body>
</html>
